@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #202529;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1342px;
  margin: 17px auto 0;
  
}

.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 108px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

.nav-menu__item {
  margin-left: 25px;
  list-style: none;
}

.nav-menu__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.nav-menu__link-first{
  color: #FFB742;
}

.nav-button {
  border: none;
  background-color: #FFB742;
  padding: 12px 26px;
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #212529;
  cursor: pointer;
}

.information {
  color: #fff;
  text-align: center;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 51px;
  text-align: center;
  text-transform: capitalize;
}

.title span {
  color: #FFB742;
  text-decoration: underline;
}

.title-item {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 91px;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 25px;
}

.title-description {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 51px;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 22px;
}

.counts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 136px;
  padding-bottom: 136px;
}
.counts-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #292B2E;
  padding: 25px 30px;
  border-radius: 10px;
  text-align: center;
  width: 416px;
}

.count-icon {
  padding: 12px;
  background-color: #fff;
  border-radius: 50%;
  object-fit: cover;
}

.number {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #FFB742;
}

.number-description {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

.about{
  display: flex;
  align-items: center;
}


.about-information {
  margin-left: 40px;
}

.about-information span, .skills span {
  background-color: #31363a;
  color: #FFB742;
  padding: 6px 25px;
  border-radius: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-information h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 30px;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 30px;
}

.about-information p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #D5D5D5;
  padding-bottom: 54px;
}

.about button, .skills button {
  display: inline;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 136px;
  padding-bottom: 136px;
}

.skills-information h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 30px;
  width: 518px;
  margin: 0;
}

.skills-information p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  padding-bottom: 63px;
  width: 615px;
}

.logo-group {
  margin-left: 97px;
  padding: 16px;
}

.skills-logo-group-1 img, .skills-logo-group-2 img {
  background-color: #383E45;
  padding: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
}

.skills-logo-group-2 img {
  width: 80px;
  height: 80px;
}

.work-name  {
  text-align: center;
}

.work {
  background-color: #31363a;
  color: #FFB742;
  padding: 6px 25px;
  border-radius: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}

.featured-works {
  text-align: center;
  font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;
}


section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px auto  136px;
}

section ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

section ul li {
  list-style: none;
  padding: 5px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  cursor: pointer;
}

section ul li.active {
  background-color: #FFB742;
  color: #212529;
  border-radius: 3px;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-group {
  
  margin: 16px;
  display: block;
}

.hide {
  display: none;
}

.portfolio-item img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  margin-bottom: 16px;
}

.testimonials {
  text-align: center;
}

.testimonials p {
  background-color: #31363a;
  color: #FFB742;
  padding: 6px 25px;
  border-radius: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  display: inline;
  
}

.testimonials h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 46px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 7px;
}

.swiper {
  width: 600px;
  height: 300px;
}

.swiper {
  margin-top: 88px;
  width: 100%;
  height: 100%;
   max-width: 1342px;
   margin-bottom: 180px;
}

.swiper-slide {
  background-color: #fff;
  padding: 49px 52px 47px 33px;
  border-radius: 8px;
}

.swiper-description {
  font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
color: #000000;
margin-top: 20px;
margin-bottom: 36px;
}

.user {
  display: flex;
  align-items: center;
  
}

.user img {
  object-fit: cover;
  margin-right: 24px;
}

.user h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
}

.user p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #000000;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  background-color: #FFB742;
  max-width: 1116px;
  border-radius: 15px;
  padding: 57px 94px 60px 94px;
  overflow: hidden;
  position: relative;
  top: 89px;
}

.info span {
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 53px;
  color: #000000;
}

.info p {
  width: 400px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.info button {
  border: none;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 12px 40px;
  background-color: #FFB742;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #212529;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  background: #1C1C1C;
  padding-top: 148px;
  padding-bottom: 90px;
}

.footer-user h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #FFB742;
}

.footer-user p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #D4D4D4;
  margin-top: 30px;
}

.footer-links p {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: #F5FBF2;
}

.footer-links li {
  list-style: none;
}

.footer-links li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #7B7B7B;
}

.footer-newsletter span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #7B7B7B;
  width: 319px;
}

.footer-input {
  position: relative;
}

.footer-input input {
  border: none;
  border-radius: 49px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  outline: none;
  padding-right: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #7C7C7C;
  background-color: #212529;
  margin-top: 30px;
  width: 310px;
}

.footer-input img {
  background-color: #FFB742;
  padding: 20px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 28px;
  right: 130px;
  cursor: pointer;
}

@media (min-width: 1200px) and (max-width: 1400px) { 
  .container {
    max-width: 1100px;
  }
  .counts-item {
    width: 350px;  
  }
  .swiper {
  width: 80%;
}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .container {
    max-width: 940px;
  }
  .counts-item {
    width: 250px;  
  }
  .swiper {
  width: 95%;
  height: 80%;
}
  .info {
    max-width: 900px;
    top: 100px;
    justify-content: flex-start;
    
  }
  .info span {
    font-size: 24px;
    line-height: 1.2;
  }
  .info p {
    font-size: 16px;
  }
  .info button {
    padding: 12px 35px;
    font-size: 16px;
    margin-right: 15px;
  }

  .footer {
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
  }
  .skills-logo-group-1, .skills-logo-group-2  {
    display: flex;
    flex-wrap: wrap;
  }

 }

 @media (min-width: 768px) and (max-width: 991.98px) { 
    .container {
    max-width: 700px;
  }
  .title-item {
    font-size: 40px;
  }
  .counts {
   flex-direction: column;
   text-align: center;
   padding-bottom: 100px;
   padding-top: 100px;
  }
  .counts-item {
    margin-bottom: 20px;
  }
  .about img {
    display: none;
  }
   .skills  {
    display: flex;
   flex-direction: column;
   padding-top: 100px;
   padding-bottom: 100px;
  }
  .skills-information p {
    padding-bottom: 40px;
  }
  .logo-group {
    margin-left: 0;
    margin-top: 20px;
  }
  .skills-logo-group-1 img, .skills-logo-group-2 img{
    margin: 10px;
  }
  .featured-works {
    font-size: 40px;
  }
  .swiper {
  width: 70%;
  height: 40%;
  margin-top: 50px;
  margin-bottom: 100px;
}
  .info {
    max-width: 600px;
    flex-direction: column;
    top: 130px;
  }
  .info span {
    font-size: 24px;
    
  }
  .info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .info button {
    padding: 12px 35px;
    font-size: 16px;
    margin-right: 15px;
  }

  .footer {
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .container {
    max-width: 540px;
  }
  .nav-menu {
    display: none;
  }
  .title-item {
    font-size: 30px;
    line-height: 35px;
  }
  .counts {
    flex-direction: column;
  }
  .counts-item {
    margin-bottom: 20px;
  }
  .about img {
    display: none;
  }
  .about-information h2 {
    font-size: 26px;
  }
  .about-information p {
    padding-bottom: 40px;
  }
  .skills {
    flex-direction: column;
    padding-top: 100px;
    margin-left: 55px;
    padding-bottom: 80px;
  }
  .skills-information h2 {
    font-size: 26px;
  }
  .skills-information p {
    width: 100%;
    padding-bottom: 30px;
  }
  .logo-group {
    margin-left: 0;
    flex-direction: column;
  }
   .skills-logo-group-1 img, .skills-logo-group-2 img{
    margin: 8px;
  }
  .swiper {
    width: 60%;
    margin-top: 40px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  }
  .testimonials h2 {
    font-size: 26px;
  }
  .info {
    max-width: 500px;
    flex-direction: column;
    top: 130px;
  }
   .info span {
    font-size: 24px;
    
  }
  .info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .info button {
    padding: 12px 35px;
    font-size: 16px;
    margin-right: 15px;
  }

  .footer {
    max-width: 100%;
    width: 100%;
    flex-direction: column;
  }
  .footer-user h2 {
    font-size: 26px;
  }
  .footer-input img {
    right: 272px;
  }
}


@media (max-width: 575.98px) { 
   .container {
    max-width: 500px;
  }
  .nav-menu {
    display: none;
  }
  .nav img {
    width: 60px;
  }
  .nav-button {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 45px;
  }
  .title {
    font-size: 24px;
  }
  .title-item {
    font-size: 26px;
    line-height: 35px;
  }
  .title-description {
    font-size: 20px;
    line-height: 40px;
  }
  .information img {
    width: 50%;
  }
  .counts {
    flex-direction: column;
    padding-bottom: 50px; 
  }
  .counts-item {
    margin-bottom: 20px;
    width: 280px;
  }
  .about img {
    display: none;
  }
  .about-information h2 {
    font-size: 20px;
  }
  .about-information p {
    padding-bottom: 40px;
  }
  .skills {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .skills-information {
    width: 300px;
  }
  .skills-information h2 {
    font-size: 20px;
    max-width: 220px;
    line-height: 25px;
  }
  .skills-information p {
    width: 95%;
    padding-bottom: 30px;
  }
  .featured-works {
    font-size: 25px;
  }
  .logo-group {
    margin-left: 0;
    flex-direction: column;
    margin-left: 50px;
  }
   .skills-logo-group-1 img, .skills-logo-group-2 img{
    margin: 8px;
  }
  .swiper {
    width: 90%;
    margin-top: 40px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  }
  .swiper-slide {
    padding: 30px 10px;
  }
  .swiper-description {
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .testimonials h2 {
    font-size: 26px;
  }
  .info {
    width: 100%;
    flex-direction: column;
    top: 130px;
    display: none;
  }
   .info span {
    font-size: 18px;
    
  }
  .info p {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    max-width: 150px;
  }
  .info button {
    padding: 12px 135px;
    font-size: 16px;
    margin-right: 15px;
    display: inline;
  }

  .footer {
    max-width: 100%;
    width: 100%;
    padding-left: 15px;
    flex-direction: column;
  }
  .footer-user h2 {
    font-size: 22px;
  }
  .footer-input img {
    right: -65px;
  }
  .footer-newsletter {
    width: 280px;
  }
 }
